mat-table {
    width: 100%;
}

.scrollItem {
    overflow:scroll;
    height: 100vh;
    max-height: 40vh;
}

.table-row {
    cursor: pointer;
}

.table-row:hover {
    background-color: gray;
    transition-delay: 0.5ms;
    transition-duration: 1s;
}
