
<!-- <mat-paginator *ngIf="canDisplayTable" [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
aria-label="Select page">
</mat-paginator> -->
<mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="courses.length"></mat-paginator>
<div class="scrollItem">
    <mat-table fixedLayout="true" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="courseCode">
            <th mat-sort-header *matHeaderCellDef style="color: black;">Course Code</th>
            <td style="width: 15%;" mat-cell *matCellDef="let element"> {{ element.courseCode }}</td>
        </ng-container>
        <ng-container matColumnDef="title">
            <th mat-sort-header *matHeaderCellDef style="color: black;">Course Name</th>
            <td mat-cell style="width: 100%;" *matCellDef="let element"> {{ element.title }} {{ element.titleEn !== undefined? '(' + element.titleEn + ')' : '' }}</td>
        </ng-container>
        <ng-container matColumnDef="ects">
            <th mat-sort-header *matHeaderCellDef style="color: black;">ECTS</th>
            <td mat-cell *matCellDef="let element"> {{ element.ects }}</td>
        </ng-container>
        <tr mat-header-row  *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openSubjectInfoDialogue(row)"></tr>
    </mat-table>
</div>
