<div style="height: 100%; background: #303030;">
  <mat-toolbar color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <span class="spacer"></span>  
    <span>Welcome to {{ title }}</span>
    <span class="spacer"></span>
  </mat-toolbar>

  

  <div class="container">
    <div class="row" style="margin-top: 1%;">
      <div class="col d-flex justify-content-center">
        <h1 style="color: white;">Choose your desired department:</h1>
      </div>
    </div>
    <div class="row d-flex" style="margin-top: 0.1%;">
      <div class="col">
        <button *ngFor="let dep of arrayOfDepartments" mat-raised-button color="primary" style="margin-right: 1%; margin-top: 1%;">
          {{ dep.name }}
        </button>
      </div>
    </div>
  </div>
</div>


  




<router-outlet></router-outlet>
