<mat-toolbar color="primary">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col">
        <button mat-raised-button color="basic"
        routerLink="/main" routerLinkActive="active">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="col d-flex align-items-center justify-content-center flex-shrink-0">
        <span>AUThExplorer</span>
      </div>
      <div class="col"></div>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="fixed-bottom text-center text-lg-start" style="background:#303030">
  <div class="footer-copyright text-center py-3" style="color: white">Developed by fmalakis
    <a style="margin-left: 0.5%; color: wheat;"
    href="https://github.com/fmalakis/AUThOpenAPIProj" target="_blank"
    role="button"
    ><i class="bi-github"></i
  ></a>
  </div>
</footer>