<h2 mat-dialog-title>More info about "{{ subject.titleEn }}"</h2>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <mat-spinner *ngIf="!subjectInfo"></mat-spinner>
        </div>
    </div>
</div>
<mat-dialog-content *ngIf="subjectInfo" class="mat-typography">
  <h1><b>Name:</b> {{ subject.titleEn }} ({{ subject.title }})</h1>
  <h2><b>Academic Year:</b> {{ subjectInfo.academicYear }}</h2>
  <h2><b>Instructors: </b>
      <h3 *ngFor="let instructor of subjectInfo.instructors">• {{ instructor }}</h3>
  </h2>
  <h2><b>Course types:</b>
      <h3 *ngFor="let type of subjectInfo.courseType">• {{ type }}</h3>
  </h2>
  <h2>Digital course content:
      <h3 *ngFor="let digitalContent of subjectInfo.digitalCourseContent"><a [href]="digitalContent.url" target="_blank">{{ digitalContent.label }}</a></h3>
  </h2>
  <div>
    <h2>Learning Outcomes:</h2>
    <p style="white-space: pre-line;">{{ subjectInfo.learningOutcomes }}</p>  
  </div>
  <div>
      <h2>Course content:</h2>
      <p style="white-space: pre-line;">{{ subjectInfo.courseContent }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
